<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.task">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo_foreground"
        android:label="YuvaSarthi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task">
        <activity
            android:name=".aboutyuvasarthi"
            android:exported="false" />
        <activity
            android:name=".aboutus"
            android:exported="false" />
        <activity
            android:name=".privacy_policy"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".signup2"
            android:exported="false" />
        <activity
            android:name=".faq_loan"
            android:exported="false" />
        <activity
            android:name=".contactus"
            android:exported="false" />
        <activity
            android:name=".faq_acc_detail"
            android:exported="false" />
        <activity
            android:name=".mer_doctor"
            android:exported="false" />
        <activity
            android:name=".list_view"
            android:exported="false" />
        <activity
            android:name=".botton_nav"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>